body {
    width: 90%;
    margin:auto;
    box-sizing:border-box;
    padding 1em;
}
.fading-flower {
    width: 22%;
    height: 14em;
    display: inline-block;
    margin: 1em;
    padding: 0em;
    overflow: hidden;
    align-content: center;
    box-sizing: border-box;
}
